# Node
node_modules
dist
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Reports
trace.json
trace-*.json
analysis-report.md
*.md
!README.md

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?